<div class="landing-container">
    <div class="landing-content">
        <div class="landing-content-section">
            <div class="about">
                <div class="about-title">ABOUT</div>
                <div class="about-text">
                    I make a bunch of stuff on computers, 
                    always learning something new. Check out
                    my links on the right. I stream nonsense,
                    going to start uploading music and videos
                    soon so go ahead and add this to your 
                    favorites tab :].
                </div>
            </div>
        </div>
        <div class="landing-content-section">
            <div class="main">
                <div class="main-title">JAY ENZO</div>
                <div class="main-text">Digital Creator</div>
                <div class="main-socials">
                    <i class="fa-brands fa-instagram main-icon"></i>
                    <i class="fa-brands fa-tiktok main-icon"></i>
                    <i class="fa-brands fa-x-twitter main-icon"></i>
                </div>
            </div>
        </div>
        <div class="landing-content-section">
            <div class="links">
                <div class="links-title">LINKS</div>
                <div class="links-items">
                    <div class="link-item">
                        <div class="link-item-text">Project: SHIFT</div>
                        <div class="link-item-social"></div>
                    </div>
                    <div class="link-item">
                        <div class="link-item-text">Project: OZYMANDIAS</div>
                    </div>
                    <div class="link-item">
                        <div class="link-item-text">Project: STARK</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
