<div class="navbar-container">
    <div class="navigation">
        <div class="navigation-section">
            <nav class="navigation-section-links">
                <a href="">Home</a>
                <a href="">Gaming</a>
                <a href="">Music</a>
                <a href="">About</a>
            </nav>
        </div>
        <div class="navigation-section">logo</div>
        <div class="navigation-section">
            <div class="navigation-section-socials">
                <a href="https://www.instagram.com/enzoilovethis/"><i class="fa-brands fa-instagram navigation-social"></i></a>
                <a href="https://www.tiktok.com/@shiftteamzo?lang=en"><i class="fa-brands fa-tiktok navigation-social"></i></a>
                <a href="https://x.com/shiftteamzo"><i class="fa-brands fa-x-twitter navigation-social"></i></a>
                <a href="https://soundcloud.com/ramessesthesecond"><i class="fa-brands fa-soundcloud navigation-social"></i></a>
            </div>
        </div>
    </div>
</div>
