.landing-container{
    max-width: 100vw;
    padding: 1em;
}

.landing-content {
    display: flex;
    flex-direction: row;

    &-section {
        width: calc(100%/3);
    }
}

.about {
    height: 100vh;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &-title {
        font-size: 2.5em;
        transform: rotateY(60deg);
        transform-origin: right;
        filter: drop-shadow(30px 0px 0px #4444dd);
        margin-bottom: 1.5em;
    }

    &-text {
        text-wrap: wrap;
        font-size: 1em;
        transform: rotateY(50deg);
        transform-origin: right;
        filter: drop-shadow(30px 0px 0px #4444dd);
    }
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
    z-index: 10;
    
    &-title {
        font-size: 3.5em;
    }

    &-text {
        font-size: 2.5em;
        margin-bottom: .5em;
    }

    &-socials {
        display: flex;
        flex-direction: row;

        .main-icon {
            font-size: 2em;
            margin-left: 1em;
            margin-right: 1em;
        }

        .main-icon:hover {
            cursor: pointer;
        }
    }
}

.links {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

    &-title {
        font-size: 4em;
        transform: rotateY(-70deg);
        transform-origin: left;
        filter: drop-shadow(-40px 0px 5px #2b2bdb);
    }

    &-items {
        margin: 0;
        //item inside of link items
        .link-item {
            margin: 0;
            &-text {
                -webkit-text-stroke: 1px white;
                color: transparent;
                text-wrap: nowrap;
                font-size: 5em;
                font-weight: 1000;
                transform: rotateY(-70deg);
                transform-origin: left;
                filter: drop-shadow(-30px 10px 1px #4444dd);
                transition: 1s all ease-in;
            }

            &-text:hover {
                color: black;
                cursor: pointer;
                transform: rotateY(-55deg);
                filter: drop-shadow(-30px 10px 4px #4444dd00);
                transition: 1s all ease-out;
                // white-space: nowrap;
            }

            &-social {

            }
        }
    }
}