.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    position: relative;
    padding-left: 2em;
    padding-right: 2em;
    height: 2.5em;
    border: solid red 1px;

    .navigation {
        display: flex;
        flex-direction: row;

        &-section {
            width: calc(100vw / 3);
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: .6em;

            &-links {
                
            }

            &-links a {
                text-decoration: none;
                margin-left: .5em;
                margin-right: .5em;
                font-size: 1em;
            }

            &-socials {
                font-size: 1em;

                .navigation-social {
                    margin-left: .5em;
                    margin-right: .5em;
                }
            }

            &-socials:hover {
                cursor: pointer;
            }
        }


    }
}